* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #2d1337;
}

h1, h2, h3 {
    margin: 0 15px 0 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button {
    border: 1px solid rgba(204, 200, 255, .2);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #89072e;
    background-color: #25072e;
    transition: background-color .2s;
    color: #ccc8ff;
}

.button:hover, .button:active {
    transform: scale(.98);
    background-color: rgba(236, 0, 140, .8);
}

.button:focus {
    background-color: rgba(236, 0, 140, .6);
    outline-color: rgba(236, 0, 140, 1);
}

.button:disabled, .button:hover:disabled {
    color: rgba(204, 200, 255, .5);
    background-color: rgba(37, 7, 46, 1);
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.page-brand {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
}
.page-navigation__item {
    font: 13px Helvetica, sans-serif;
    font-weight: bold;
    line-height: 2;
    text-transform : uppercase;
}

.page-navigation__link:link, .page-navigation__link:visited {
    letter-spacing: 6.7px;
    color: #b62979;
    text-decoration: none;
}

.page-navigation__link:hover {
    color: #dc328c;
}

.page-navigation__link:active {
    letter-spacing: 6.5px;
}

.page-content {
    text-align: right;
}

.content-section__header {
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 3.8px;
    text-transform : uppercase;
    line-height: 4;
    color: #ef008e;
}

.hidden-div {
    display: none;
    font-size: 11px;
    color: #fff;
}

.form__field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
    letter-spacing: 1.5px;
    color: #ccc8ff;
    opacity: .8;
}

.form__field:last-child {
    margin-top: 25px;
}

.form__label {
    line-height: 2;
}

.form__input {
    width: 70%;
    padding: 6px 6px;
    border: 1px solid #a6a1e3;
    border-radius: 4px;
    font-size: 13px;
    letter-spacing: 1.5px;
    background-color: #ccc8ff;
    opacity: .5;
}

@media(min-width: 1440px){
body {
    background: url('./images/background.svg');
    background-attachment: fixed;
    background-size: cover;
}

.button {
    padding: 6px 9px;
}

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
    /* background-color: #fff; */
}

.page-brand {
    text-align: right;
}

.page-navigation {
    margin: 15px 0;
}

.page-navigation-items{
    display: initial;
}

#page-navigation-beam{
    display: none;
}

.page-content {
    margin-left: 220px;
    padding: 0 10%;
    /* background-color: #b0ffb0; */
}

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
    /* background-color: #7ba3ff; */
}

.content-section {
    height: 120vh;
    /* background-color: #20150B; */
}

/* .content-section:nth-child(odd) {
    background-color: #25072E;
} */

.social-links__item:not(:last-child) {
    margin: 0 0 15px 0;
}

.social-links__item a {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: transparent;
}

.social-links__item:hover, .social-links__item:active {
    filter: brightness(120%);
}

.social-links__item:nth-child(1) a {
    background: url('./images/fb.svg');
    background-size: contain;
}

.social-links__item:nth-child(2) a {
    background: url('./images/insta.svg');
    background-size: contain;
}

.social-links__item:nth-child(3) a {
    background: url('./images/last.svg');
    background-size: contain;
}

.social-links__item:nth-child(4) a {
    background: url('./images/yout.svg');
    background-size: contain;
}

.band-members {
    display: flex;
    justify-content: center;
    padding-top: 220px;
}

.band-members__name {
    font-weight: bold;
    text-align: left;
    font-family:'Open Sans', sans-serif;
    letter-spacing: 3.8px;
    text-transform : uppercase;
    color: #d8d8fb;
    opacity: .8;
}

.band-members__desc {
    text-align: left;
    color: #ccc8ff;
    opacity: .1;
}

.band-members__item {
    position: relative;
    height: 200px;
    width: 257px;
}

.band-members__tooltip {
    position: relative;
    top: -400;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.band-members__item:hover .band-members__tooltip {
    visibility: visible;
    opacity: 1;
}

.band-members__item:hover {
    filter: brightness(180%);
}

.about {
    width: 853px;
    float: right;
}

.about-section__image {
    position: relative;
    max-width: 600px;
    border-top: 4px solid #db328b;
}

.about-section__desc {
    position: relative;
    left: 5px;
    bottom: 150px;
    max-width: 320px;
    border-bottom: 4px solid #db328b;
    padding: 15px;
    font-size: 13px;
    float: left;
    text-align: left;
    background-color: #220a2c;
    color: #ccc8ff;
}

.about-section__desc-header {
    font-size: 15px;
    font-weight: bold;
    color: #d8d8fb;
    letter-spacing: 3.8px;
    text-transform : uppercase;
}

.concert {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 37px;
    max-width: 853px;
    float: right;
    text-align: right;
}

.contact__image {
    width: 100%;
}

.concert__info {
    position: relative;
    padding: 10px 0;
    text-align: left;
}

.concert__info .button {
    position: absolute;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    font-size: 10px;
}

.concert__image {
    width: 100%;
    border-bottom: 4px solid #db328b;
}

.concert__date, .concerts__location {
    padding: 0;
    margin: 0;
    font-size: 10px;
    line-height: 1.2;
}

.concert__date {
    font-size: 13px;
    font-weight: 700;
    color: #ccc8ff;
    opacity: .8;
    letter-spacing: 3.8px;
}

.concert__location {
    font-size: 12px;
    font-weight: 600;
    color: #ccc8ff;
    opacity: .5;
    letter-spacing: 3.5px;
}

.video__videoyt {
    width: 100%;
    float: right;
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
}

.video__iframe {
    border-top: 4px solid #db328b;
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.gallery__item {
    width: 270px;
    margin: 10px;
}

.gallery__image {
    width: 100%;
    border-top: 4px solid #db328b;
    transition: transform .2s;
}

.gallery__image:hover {
    transform: scale(1.2);
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: end;
    }
    .gallery__item {
        width: 80%;
    }
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 20px;
	justify-content: flex-end;
}

.contact__address {
    align-self: center;
    font-size: 13px;
	justify-self: flex-start;
    text-align: left;
    font-style: normal;
    letter-spacing: 1.5px;
    color: #ccc8ff;
    opacity: .8;
}

.contact__form {
	justify-items: end;
}

.form {
    width: 100%;
    margin-top: 40px;
}
}

@media(max-width: 1439px) {
    body {
        background-color: #2d1337;
    }

    .button {
        padding: 12px 12px;
    }

    .page-header. .page-content, .page-footer {
        width: 100%;
    }

    .page-brand {
        width: 100%;
        padding: 40px 20px 20px 20px;
        text-align: center;
    }

    .page-navigation {
        padding: 15px;
        text-align: left;
    }

    .page-content {
        padding: 0;
    }

    .page-footer {
    }

    .content-section {
        height: 100%;
    }

    .social-links {
        width: 100%;
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .social-links__item:not(:last-child) {
        margin: 0 0 15px 0;
    }

    .social-links__item {
        display: inline-block;
    }

    .social-links__item a {
        color: transparent;
    }

    .social-links__item:hover, .social-links__item:active {
        filter: brightness(120%);
    }

    .social-links__item:nth-child(1) a {
        background: url('./images/fb.svg') no-repeat;
        background-size: contain;
        background-position-x: center;
    }

    .social-links__item:nth-child(2) a {
        background: url('./images/insta.svg') no-repeat;
        background-size: contain;
        background-position-x: center;
    }

    .social-links__item:nth-child(3) a {
        background: url('./images/last.svg') no-repeat;
        background-size: contain;
        background-position-x: center;
    }

    .social-links__item:nth-child(4) a {
        background: url('./images/yout.svg') no-repeat;
        background-size: contain;
        background-position-x: center;
    }

    .band-members {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .band-members__name {
        font-weight: bold;
        text-align: left;
        font-family:'Open Sans', sans-serif;
        letter-spacing: 3.8px;
        text-transform : uppercase;
        color: #d8d8fb;
        opacity: .8;
    }

    .band-members__desc {
        text-align: left;
        color: #ccc8ff;
        opacity: .1;
    }

    .band-members__item {
        text-align: center;
        padding: 5px;
    }

    .band-members__tooltip {
        padding-left: 20px;
        width: 320px;
        margin: 0 auto;
        color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: opacity .2s, visibility .2s;
    }

    .band-members__item:hover .band-members__tooltip {
        visibility: visible;
        opacity: 1;
    }

    .band-members__item:hover {
        filter: brightness(180%);
    }

    .about {
        width: 100%;
        padding: 15px;
    }

    .about-section__image {
        width: 100%;
        border-top: 4px solid #db328b;
    }

    .about-section__desc {
        width: 100%;
        border-bottom: 4px solid #db328b;
        padding: 15px;
        font-size: 13px;
        float: left;
        text-align: left;
        background-color: #220a2c;
        color: #ccc8ff;
    }

    .about-section__desc-header {
        font-size: 15px;
        font-weight: bold;
        color: #d8d8fb;
        letter-spacing: 3.8px;
        text-transform : uppercase;
    }

    .concert {
        display: grid;
        grid-template-columns: 100%;
        gap: 37px;
        width: 100%;
        padding: 15px;
        float: right;
        text-align: right;
    }

    .concert__info {
        position: relative;
        padding: 10px 0;
        text-align: left;
    }

    .concert__info .button {
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
        font-size: 12px;
        padding: 10px 12px;
        margin-right: 10px;
    }

    .concert__image {
        width: 100%;
    }

    .concert__date, .concerts__location {
        padding: 0;
        margin: 0;
        font-size: 10px;
        line-height: 1.2;
    }

    .concert__date {
        font-size: 13px;
        font-weight: 700;
        color: #ccc8ff;
        opacity: .8;
        letter-spacing: 3.8px;
        padding-left: 10px;
    }

    .concert__location {
        font-size: 12px;
        font-weight: 600;
        color: #ccc8ff;
        opacity: .5;
        letter-spacing: 3.5px;
        padding-left: 10px;
    }

    .video__wrap {
        margin: 15px;
    }

    .video__videoyt {
        width: 100%;
        float: right;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }

    .video__iframe {
        border-top: 4px solid #db328b;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .gallery__item {
        width: 100%;
        margin: 5px;
        text-align: center;
    }

    .gallery__image {
        width: 80%;
        border-top: 4px solid #db328b;
        transition: transform .2s;
    }

    .gallery__image:hover {
        transform: scale(1.2);
    }

    @supports (display: grid) {
        .gallery {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            justify-items: center;
        }
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 80px;
        row-gap: 20px;
        justify-content: flex-end;
        padding: 15px;
        width: 100%;
    }

    .contact__image {
        width: 100%;
    }

    .contact__address {
        align-self: center;
        font-size: 13px;
        justify-self: flex-start;
        text-align: left;
        font-style: normal;
        letter-spacing: 1.5px;
        color: #ccc8ff;
        opacity: .8;
        padding: 15px 30px;
    }

    .contact__form {
        justify-items: end;
    }

    .form {
        width: 100%;
        padding: 20px;
    }
    .page-header {
        position: fixed;
        width: 100%;
        background: #2d1337;
        z-index: 1000;
        margin: 0;
        padding: 0;
        opacity: 0.9;
        top: 0;
    }

    .page-brand {
        position: relative;
    }

    .page-navigation {
        position: absolute;
        top: 28px;
        left: 38px;
    }

    .page-navigation-items{
        display: none;
    }

    .page-navigation-hamburger{
        display: block;
        background: #2d1337;
        padding: 10px;
        margin-top: 30px;
    }

    #page-navigation-beam {
        width: 32px;
        height: 32px;
        background-image: url('./images/hamburger.svg');
        filter: brightness(0) invert(1);
        background-size: cover;
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 32px 32px;
        background-color: transparent;
        border: none;
        color: transparent;
        font-size: 7px;
    }
    .band-members {
        margin: 140px 0 0 0;
    }
}
